{% extends 'base.html' %}
{% load i18n %}

{% block sidebar_one %}
    <ul class="sidebar-one">
        {% if not detail %}
            <li>
                <a href={% url 'master' %}>
                    {% trans "Listar Maestrias" %}
                </a>
            </li>
            <li>
                <a href={% url 'master_dar_estudiantes' %}  data-toggle="modal" data-target="#legal">
                    {% trans "Listar estudiantes de maestría" %}
                </a>
            </li>

        {% endif %}
        <li>
            <a href={% url 'create_master' %}>
                {% trans "Crear Maestria" %}
            </a>
        </li>

        <li>
            <a href={% url 'master_carpeta' %} data-toggle="modal" data-target="#legal"> Carpeta </a>
        </li>

        {% if detail %}
            <li>
            {{ id }}
                <a href={% url 'master_candidatos' object.id %} > Candidatos </a>
            </li>
            <li>
                <a href=''>
                    {% trans "Editar Maestria" %}
                </a>
            </li>
            <li>
                <a href=''>
                    {% trans "Borrar Maestria" %}
                </a>
            </li>

        {% endif %}
    </ul>

{% endblock %}