
{% extends 'master/master_base.html' %}

{% load i18n %}

{% block title %}
    <title>
        {% trans "Maestrías" %}
    </title>
{% endblock %}

{% block header-link %}
  <a href=''>
    {% trans "Listado de maestrías" %}
  </a>
{% endblock %}

{% block header-description %}

    <div class="left clearfix">
        <div class="chat-body clearfix">
            <div class="col-md-3">
                <strong class="primary-font">{{ obj_estudiante.name  }} {{ obj_estudiante.lastname }}</strong>
                <small class="pull-left text-muted">
                    <br>
                    <i></i>Correo: {{ obj_estudiante.email}}
                </small>
                    <br>
                    <br>
                    <i></i><h6>Codigo: {{ obj_estudiante.code}}</h6>
                    <i></i><h6>Maestria: {{ obj_estudiante.master.name  }}</h6>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
  {% if estado %}
      <div id="page-wrapper">
                <!-- /.row -->
                <div class="row">
                    {% if maestria == "MATI" %}
                          <div class="row">
                                <!-- Cursos -->
                                    <div class="col-md-6">
                                        <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <small>
                                                Cursos aprobado: {{ obj_curso.section.course.code }}
                                            </small>
                                        </div>
                                        <div class="panel-body">
                                            <div class="list-group">
                                                    <div class="list-group-item">
                                                        <i ></i> Curso
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.course.name }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Crn
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.crn }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Año
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.year }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Semestre
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.semester }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Nota
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.grade }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Sección
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.name }}</em>
                                                        </span>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <i ></i> Maestría
                                                        <span class="pull-right text-muted small"><em>{{ obj_curso.section.course.pensum.master.name }}</em>
                                                        </span>
                                                    </div>

                                            </div>
                                        </div>
                                        <div class="panel-footer">

                                            <div class="list-group">

                                                        {% if obj_curso.student_status %}
                                                            <div class="list-group-item text-success">
                                                                <i class="text-success"></i> Estado de la materia
                                                                <span class="pull-right text-muted small text-success"><em>Curso aprobado</em>
                                                                </span>
                                                            </div>
                                                        {% else %}
                                                            <div class="list-group-item text-danger">
                                                                <i class="text-danger"></i> Estado de la materia
                                                                <span class="pull-right text-muted small text-danger"><em>Curso no aprobado</em>
                                                                </span>
                                                            </div>
                                                        {% endif %}

                                            </div>

                                        </div>
                                    </div>
{#                                        <div class="panel panel-default">#}
{#                                            <div class="panel-heading">#}
{#                                                <i class="fa fa-bell fa-fw"></i> Panel de información#}
{#                                            </div>#}
{#                                            <!-- /.panel-heading -->#}
{#                                            <div class="panel-body">#}
{#                                                <div class="list-group">#}
{#                                                    <a href="#" class="list-group-item">#}
{#                                                        <i ></i> Nota#}
{#                                                        <span class="pull-right text-muted small"><em>{{ credits }}</em>#}
{#                                                        </span>#}
{#                                                    </a>#}
{#                                                    {% if ingles != Null %}#}
{#                                                        <a data-toggle="modal" data-target="#ingles" class="list-group-item">#}
{#                                                            <i></i> Ingles#}
{#                                                            <span class="pull-right text-muted small"><em>Nota: {{ ingles.grade }}</em>#}
{#                                                            </span>#}
{#                                                        </a>#}
{##}
{#                                                    {% endif %}#}
{#                                                    <a href={% url 'master_student_course' %} class="list-group-item">#}
{#                                                        <i ></i> Tiene curso aprobado#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                                <!-- /.list-group -->#}
{#                                            </div>#}
{#                                        <!-- /.panel-body -->#}
{#                                        </div>#}
                                    </div>
                            </div>

                    {% endif %}

                </div>




            </div>
            <!-- /#page-wrapper -->
  {% else %}
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-bomb fa-lg"></i>
                                </div>
                                <div class="col-xs-10 text-left">
                                    <div>No existe el curso con codigo:{{ codigo }}</div>
                                </div>
                            </div>
                        </div>
                        <a href={% url 'master_student_course' %} data-toggle="modal" data-target="#legal">
                            <div class="panel-footer">
                                <span class="pull-left">Nueva busqueda</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

  {% endif %}
{% endblock %}
