
{% extends 'master/master_base.html' %}

{% load i18n %}

{% block title %}
    <title>
        {% trans "Maestrías" %}
    </title>
{% endblock %}

{% block header-link %}
  <a href=''>
    {% trans "Listado de maestrías" %}
  </a>
{% endblock %}

{% block header-description %}

{#    <div class="col-md-12">#}
{#        <div class="center-block">#}
{#            {% trans "Dashboard" %}#}
{#        </div>#}
{#    </div>#}
{#    <br>#}
{#    <br>#}
    <div class="left clearfix">
        <div class="chat-body clearfix">
            <div class="col-md-3">
                <strong class="primary-font">{{ obj_estudiante.name  }} {{ obj_estudiante.lastname }}</strong>
                <small class="pull-left text-muted">
                    <br>
                    <i></i>Correo: {{ obj_estudiante.email}}
                </small>
                    <br>
                    <br>
                    <i></i><h6>Codigo: {{ obj_estudiante.code}}</h6>
                    <i></i><h6>Maestria: {{ obj_estudiante.master.name  }}</h6>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
  {% if estado %}
      <div id="page-wrapper">
                <!-- /.row -->
                <div class="row">
                    {% if maestria == "MATI" %}
                        <h3>
                            <small>
                                Cursos faltantes para graduarse:
                            </small>
                        </h3>

                            {% if structure %}
                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-md-12 text-left">
                                                            <h5>Curso de Integración</h5>
                                                            <div>{{structure.cursos_faltantes.integracion}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="panel panel-green">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-md-12 text-left">
                                                            <h5>Curso de profundización</h5>
                                                            <div>{{structure.cursos_faltantes.profundizacion}}</div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="panel panel-yellow">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-md-12 text-left">
                                                            <h5 >Curso de electivos</h5>
                                                            <div>{{structure.cursos_faltantes.electivos}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <!-- Cursos -->
                                    <div class="col-md-8">

                                        <div class="container" style="width: inherit">
                                            <div class="row">
                                            <em> Cursos Aprobados </em>

                                                    <div class="row form-group">
                                                            <ul class="nav nav-pills thumbnail setup-panel2">

                                                                {% for object in list_subject %}

                                                                    {% if object.section.course.code != null  %}
                                                                        <li class="active">
                                                                            <a href="#{{ object.section.course.code }}">
                                                                                <h5 class="list-group-item-text">{{ object.section.course.code }}</h5>
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            </ul>
                                                    </div>
                                                    <div class="container">
                                                                {% for object in list_subject %}

                                                                    {% if object.section.course.code != null  %}
                                                                        <div class="row setup-content2" id="{{ object.section.course.code }}">
                                                                            <div class="col-md-5">
                                                                                    <div class="panel panel-red">
                                                                                        <div class="panel-heading">
                                                                                            {{ object.section.course.name }}
                                                                                        </div>
                                                                                        <div class="panel-body">
                                                                                            <h5> {{ object.section.course.pensum.master.name }}</h5>
                                                                                            <h5>Creditos: {{ object.section.course.credits  }}</h5>
                                                                                        </div>
                                                                                        <div class="panel-footer">
                                                                                            Nota: {{ object.grade }}
                                                                                        </div>
                                                                                    </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                    </div>
                                                </div>
                                            <div class="row">
                                            <em> Plan de carrera </em>
                                            <div class="row form-group">
                                                    <ul class="nav nav-pills thumbnail setup-panel">

                                                        {% for object in list_courses.courses %}
                                                            {% if object.curso.code != null  %}
                                                                <li class="active">
                                                                    <a href="#{{ object.curso.code }}pro">
                                                                        <h5 class="list-group-item-text">{{ object.curso.code}}</h5>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </ul>
                                            </div>
                                            <div class="container">
                                                    {% for object in list_courses.courses %}
                                                        {% if object.curso.code != null  %}
                                                            <div class="row setup-content" id="{{ object.curso.code }}pro">
                                                                <div class="col-md-5">
                                                                    <div class="panel panel-red">
                                                                        <div class="panel-heading">
                                                                            {{ object.curso.name }}
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <h5> {{ object.curso.pensum.master.name }}</h5>
                                                                            <h5>Creditos: {{ object.curso.credits }}</h5>
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <i class="fa fa-bell fa-fw"></i> Panel de información
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item">
                                                    <i ></i> Creditos aprobados
                                                    <span class="pull-right text-muted small"><em>{{ credits }}</em>
                                                    </span>
                                                </a>
                                                {% if ingles != Null %}
                                                    <a data-toggle="modal" data-target="#ingles" class="list-group-item">
                                                        <i></i> Ingles
                                                        <span class="pull-right text-muted small"><em>Nota: {{ ingles.grade }}</em>
                                                        </span>
                                                    </a>

                                                {% endif %}

                                            </div>
                                            <!-- /.list-group -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    </div>

                                    <div class="col-md-7">

                                    </div>


                            </div>

                    {% endif %}

                </div>




            </div>
            <!-- /#page-wrapper -->
  {% else %}
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-bomb fa-lg"></i>
                                </div>
                                <div class="col-xs-10 text-left">
                                    <div>No existe el estudiante con codigo:{{ codigo }}</div>
                                </div>
                            </div>
                        </div>
                        <a href={% url 'master_carpeta' %}>
                            <div class="panel-footer">
                                <span class="pull-left">Nueva busqueda</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

  {% endif %}

   {#Ingles#}
    <div class="modal fade"  id="ingles" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        Ingles
                    </div>
                    <div class="panel-body">
                        <p>Codigo: {{ ingles.section.course.code }}</p>
                        <p>Semestre: {{ ingles.section.semester}}</p>
                        <p>Año: {{ ingles.section.year }}</p>
                    </div>
                    <div class="panel-footer">
                        {{ ingles.grade}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
