{% extends 'base.html' %}
{% load i18n %}

{% block sidebar_one %}
    <ul class="sidebar-one">
        {% if not detail %}
            <li>
                <a href={% url 'course' %}>
                    {% trans "Listar cursos" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href={% url 'create_course' %}>
                {% trans "Crear curso" %}
            </a>
        </li>
        {% if detail %}
            <li>
                <a href=''>
                    {% trans "Editar pensum" %}
                </a>
            </li>
            <li>
                <a href=''>
                    {% trans "Borrar pensum" %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}