

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Output's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
{% comment %}      <th>
        id
      </th>{% endcomment %}
      
        <th>
          Nombre
        </th>
      
        <th>
          Tipo
        </th>
      
        <th>
          Obligatorio
        </th>
      
        <th>
          Observación
        </th>
      
        <th>
          Operación
        </th>
{% comment %}
        <th>
          created_at
        </th>
      
        <th>
          updated_at
        </th>
      {% endcomment %}
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
{% comment %}        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>{% endcomment %}
        
          <td>
              <a href='{{ object.get_absolute_url }}'>
                {{ object.name }}
              </a>
          </td>
        
          <td>{{ object.type }}</td>
        
          <td>{{ object.mandatory }}</td>
        
          <td>{{ object.observation }}</td>
        
          <td>{{ object.operation.name }}</td>
{% comment %}
          <td>{{ object.created_at }}</td>
        
          <td>{{ object.updated_at }}</td>{% endcomment %}
        
      </tr>
    {% endfor %}
  </tbody>
</table>
