

{% extends 'dimaps/output/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/output/output_detail.html
{% endblock %}

{% block title %}
  {% trans "Output Detail" %}
{% endblock %}


{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href={% url "dimaps_output_archive_index" %}>
        {% trans "Filtro" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href={% url "dimaps_output_year_archive" year=object.created_at.year %}>
        {% trans "Año" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href={% url "dimaps_output_month_archive" year=object.created_at.year month=object.created_at.month %}>
        {% trans "Mes" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href={% url "dimaps_output_day_archive" year=object.created_at.year month=object.created_at.month day=object.created_at.day %}>
        {% trans "Día" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href={% url "dimaps_output_date_detail" year=object.created_at.year month=object.created_at.month day=object.created_at.day pk=object.pk %}>
        {% trans "Detalles" %}
      </a>
    </li>
  </ul>
{% endblock %}


{% block header-link %}
  <a href='{{ object.get_absolute_url }}'>
    {% trans "Variables de salida" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "Detalles de las variables de salida de la operación" %}
{% endblock %}

{% block content %}
  {% include 'dimaps/output/object_table_detail.html' %}
  <form action={% url "dimaps_output_delete" pk=object.pk %} charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href={% url "dimaps_output_update" pk=object.pk %}>
          {% trans "Editar" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Borrar" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
