{% extends 'section/section_base.html' %}

{% load i18n %}

{% block title %}
    <title>
        {% trans "Confirmación de eliminación" %}
    </title>
{% endblock %}

{% block header-link %}
  <a href={% url 'map_section_delete' pk=object.pk %}>
  {% trans "Confirmación de eliminación de la sección." %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "Confirmación de eliminación de la sección." %}
{% endblock %}

{% block content %}
    <h2>
    {% trans "¿Quiere eliminar esta sección?" %}
    </h2>

    {% include 'section/fragments/section_data.html' %}

    <div class="col-lg-12">
        <form method="post" action="{% url 'delete_section' object.id %}">
            {% csrf_token %}
            <button class='btn btn-danger' type="submit">
              {% trans "Borrar" %}
            </button>
        </form>
    </div>
{% endblock %}
