{% extends 'base.html' %}
{% load i18n %}

{% block sidebar_one %}
    <ul class="sidebar-one">
        {% if not detail %}
            <li>
                <a href={% url 'section' %}>
                    {% trans "Listar secciones" %}
                </a>
            </li>
            <li>
                <a href={% url 'dar_seccion' %}  data-toggle="modal" data-target="#legal">
                    {% trans "Buscar sección" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href={% url 'create_section' %}>
                {% trans "Crear secciones" %}
            </a>
        </li>
        {% if detail %}
            <li>
                <a href=''>
                    {% trans "Editar seccion" %}
                </a>
            </li>
            <li>
                <a href=''>
                    {% trans "Borrar seccion" %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}