{% load i18n %}
<p>
  {% trans "Clic en el identificador para acceder a la información técnica de cada servicio." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
{% comment %}      <th>
        id
      </th>{% endcomment %}
      
        <th>
          name
        </th>
      
        <th>
          description
        </th>
      
        <th>
          service
        </th>
      
{% comment %}        <th>
          created_at
        </th>
      
        <th>
          updated_at
        </th>{% endcomment %}
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
{% comment %}        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>{% endcomment %}
        
          <td>{{ object.name }}</td>
        
          <td>{{ object.description }}</td>
        
          <td>{{ object.service.name }}</td>
        
{% comment %}          <td>{{ object.created_at }}</td>
        
          <td>{{ object.updated_at }}</td>{% endcomment %}
        
      </tr>
    {% endfor %}
  </tbody>
</table>
