

{% extends 'dimaps/technicaldata/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/technicaldata/technicaldata_archive_year.html
{% endblock %}

{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href={% url "dimaps_technicaldata_archive_index" %}>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href={% url "dimaps_technicaldata_year_archive" year=year.year %}>
        {% trans "Year Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block header-link %}
  <a href={% url "dimaps_technicaldata_year_archive" year=year.year %}>
    {% trans "TechnicalData Year Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A yearly archive page showing all available months in a given year." %}
{% endblock %}
{% block content %}
  <h2>
    {% trans "By Month" %}
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href={% url "dimaps_technicaldata_month_archive" year=date.year month=date.month %}>
          {{ date|date:"M Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      TechnicalDatas created in the year {{ year }}
    {% endblocktrans %}
  </h2>
  {% include 'dimaps/technicaldata/object_table_list.html' %}
  {% include 'dimaps/technicaldata/pagination.html' %}
{% endblock %}
