{% extends 'dimaps/technicaldata/base.html' %}
{% load i18n %}
{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/technicaldata/technicaldata_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "Borrar información técnica" %}
{% endblock %}

{% block header-link %}
  <a href={% url "dimaps_technicaldata_delete" pk=object.pk %}>
  {% trans "Borrar información técnica" %}
  </a>
{% endblock %}

{% block header-description %}
{#  {% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}#}
{% endblock %}

{% block content %}
  <h2>
    {% trans "¿Borrar esta información técnica?" %}
  </h2>
  <br />
  {% include 'dimaps/technicaldata/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Borrar" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
