{% extends 'dimaps/serviceconsumer/base.html' %}
{% load i18n %}
{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/serviceconsumer/serviceconsumer_archive_day.html
{% endblock %}

{% block title %}
  {% trans "Indice por día" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href={% url "dimaps_serviceconsumer_archive_index" %}>
        {% trans "Indice de consumidores de servicios" %}
      </a>
      <span class='divider'>
      </span>
    </li>
    <li>
      <a href={% url "dimaps_serviceconsumer_year_archive" year=day.year %}>
        {% trans "Consumidores de servicios por año" %}
      </a>
      <span class='divider'>
      </span>
    </li>
    <li>
      <a href={% url "dimaps_serviceconsumer_month_archive" year=day.year month=day.month %}>
        {% trans "Consumidores de servicios por mes" %}
      </a>
      <span class='divider'>
      </span>
    </li>
    <li>
      <a href={% url "dimaps_serviceconsumer_day_archive" year=day.year month=day.month day=day.day %}>
        {% trans "Consumidores de servicios por día" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block header-link %}
  <a href={% url "dimaps_serviceconsumer_day_archive" year=day.year month=day.month day=day.day %}>
    {% trans "Indice por día" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "Página que muestra todos los consumidores de servicios organizados por día." %}
{% endblock %}
{% block content %}
  <h2>
    {% blocktrans %}
      ServiceConsumers created on {{ day }}
    {% endblocktrans %}
  </h2>
  {% include 'dimaps/serviceconsumer/object_table_list.html' %}
  {% include 'dimaps/serviceconsumer/pagination.html' %}
{% endblock %}
