{% extends 'dimaps/serviceconsumer/base.html' %}
{#{% load bootstrap %}#}
{% load i18n %}
{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/serviceconsumer/serviceconsumer_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Editar un consumidor de servicios" %}
  {% else %}
    {% trans "Crear un nuevo consumidor de servicios" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href={% url "dimaps_serviceconsumer_update" pk=object.pk %}>
      {% trans "Editar consumidor de servicio" %}
    </a>
  {% else %}
    <a href={% url "dimaps_serviceconsumer_create" %}>
      {% trans "Crear consumidor de servicio" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "Editar un consumidor de servicio existente." %}
  {% else %}
    {% trans "Crear un consumidor de nuevo servicio." %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action={% if object %}{% url "dimaps_serviceconsumer_update" pk=object.pk %}{% else %}{% url "dimaps_serviceconsumer_create" %}{% endif %} method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Editar" %}
          {% else %}
            {% trans "Crear" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
