{% extends 'base.html' %}
{% load i18n %}

{% block sidebar_one %}
    <ul class="sidebar-one">
        {% if not detail %}
            <li>
                <a href={% url 'student' %}>
                    {% trans "Listar estudiantes" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href={% url 'create_student' %}>
                {% trans "Crear estudiante" %}
            </a>
        </li>
        {% if detail %}
            <li>
                <a href=''>
                    {% trans "Editar estudiante" %}
                </a>
            </li>
            <li>
                <a href=''>
                    {% trans "Borrar estudiante" %}
                </a>
            </li>
            {% if  detail %}
                <li>
                    <a href={% url 'folder' code %}>
                        {% trans "Carpeta de estudiante" %}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}