{% extends 'dimaps/service/base.html' %}
{% load i18n %}
{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/service/service_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "Borrar servicio" %}
{% endblock %}

{% block header-link %}
  <a href={% url "dimaps_service_delete" pk=object.pk %}>
    {% trans "Borrar servicio" %}
  </a>
{% endblock %}

{% block header-description %}
{#  {% trans " " %}#}
{% endblock %}

{% block content %}
  <h4>
    {% trans "¿Borrar este service?" %}
  </h4>
  <br/>
  {% include 'dimaps/service/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Borrar" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
