{% load i18n %}

<div class="col-lg-12">
    <table class='table table-bordered table-striped'>
        <thead>
            <tr>
              <th>
                {% trans "Campo" %}
              </th>
              <th>
                {% trans "Valor" %}
              </th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                nombre
              </td>
              <td>{{ object.name }}</td>
            </tr>

            <tr>
              <td>
                Maestria
              </td>
              <td>{{ object.master.name }}</td>
            </tr>

            <tr>
              <td>
                activo
              </td>
              <td>
                    {% if object.active %}
                        Si
                    {% else %}
                        No
                    {% endif %}

              </td>
            </tr>
        </tbody>
    </table>

    <h1>Cursos</h1>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
            <th>
              código
            </th>

            <th>
              créditos
            </th>

            <th>
              nombre
            </th>

            <th>
              vacaciones
            </th>
        </tr>
      </thead>
      <tbody>
        {% for op_course in object.course_set.all %}
          <tr>
              <td>
                <a href='{% url 'course' op_course.id %}'>
                    {{ op_course.code }}
                </a>
              </td>

              <td>{{ op_course.credits }}</td>

              <td>{{ op_course.name }}</td>

              <td>
                    {% if op_course.summer %}
                        Si
                    {% else %}
                        No
                    {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>