{% extends 'home/base.html' %}
{% load i18n %}
{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/dimaps/templates/dimaps/input/input_detail.html
{% endblock %}

{% block title %}
        {% trans "Directorio de servicios" %}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block header-link %}

{% endblock %}

{% block header-description %}
    <h1 class="page-header">
        Directorio de servicios
    </h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <p>
          Plataforma orientada a servicios que suple inicialmente las necesidades más costosas dentro de los proceso de gestión académica del departamento.
        </p>

        <p>
            Capaz de realizar recomendaciones de los cursos opcionales y obligatorios que un estudiante podría y debería tomar. Mediante un optimizador de plan de estudios. Estas recomendaciones se deben realizar según el pensum y el plan de estudios creado por parte del estudiante y con base a los criterios de coordinación.
        </p>

        <p>
            Esta plataforma complementa su implementación basándose en el apoyo de un directorio de servicios DIMAP el cual, brindara una interfaz y una estructura de comunicación entre el usuario final y la plataforma MAP.
        </p>
    </div>
{% endblock %}